[Desktop Entry]
Version=1.0
Name=PolluxPenguin
Comment=Run the mavtest.sh script
Exec=/home/aradhya/PolluxPenguin-beta/core/mavtest.sh
Icon=/home/aradhya/PolluxPenguin-beta/images/logoo.jpeg
Terminal=true
Type=Application
Categories=Utility;